html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #222;
  padding: 1em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header, .clock, .message, .calendar, footer {
  text-align: center;
}

header {
  // margin: 1em;

  img {
    max-width: 500px;
    width: 90%;
    border-radius: 35%;
  }
}

.clock {
  // padding-top: 2em;
  // max-width: 90%;
  text-align: center;
  margin: 0 auto;

  .session-message {
    font-size: 20px;
    margin: 0;
    text-align: center;
  }

  .time, .time-labels {
    
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 0;
      // max-width: 90%;
    }

    ul li {
      display: block;
    }
  }

  .time {
    font-size: 40px;

    ul li {
      font-family: 'Roboto Mono', sans-serif;
      color: #f31431;
    }
  }

  .time-labels {
    font-size: 20px;

    ul li {
    }
  }
}

.message {
  text-align: center;
}

.calendar {
  display: none;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  
  .buttons {
    display: flex;
    justify-content: space-around;
    max-width: 350px;
    margin: 1em auto;

    button {
      width: 75px;
      border-radius: 5px;
      border: none;
      background-color: #021128;
      color: white;
      outline: none;
    }

    .calendar-title {
      margin: 0;
      align-self: center;
      font-weight: bold;
      width: 175px;
      font-size: 22px;
    }
  }

  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 10px;
  }

  .weekday {

  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .day-block {
      border: 1px solid #222;
      margin-left: -1px;
      margin-bottom: -1px;
      min-height: 60px;
      padding: 5px;

      .day-date {
        text-align: right;
      }

      .calendar-item {
        text-align: left;
        font-size: 12px;

      }

      .holiday {
        color: blue;
      }

      .legislative {
        color: green;
      }

      .birthday {
        color: red;
      }
    }
  }
}

.calendar-mobile {

}

footer {
  padding: 1em;
  text-align: center;

  p {
    font-weight: bold;

    a {
      color: #444;
      text-decoration: none;
    }

    a:visited {
      color: #444;
    }

    a:hover {
      color: #222;
    }
  }
}

@media (min-width: 430px) {
  .clock {
    .time {
      font-size: 60px;
    }
  }
}

@media (min-width: 650px) {
  .calendar {
    display: block;
  }

  .calendar-mobile {
    display: none;
  }
}