html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #222;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // min-height: 100vh;
}

header, .clock, .cal, footer {
  text-align: center;
}

header {
  // background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('../images/capitol.png');
  // background-size: cover;
  // background-position: center;
  // min-height: 150px;
  // display: grid;
  // padding: 0 1em;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(to right, white, #021128 45%);
  padding: 10px;

  .header__logo {
    height: 100px;
    border-radius: 50%;
  }

  .header__text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .header__title {
      margin: 0;
      align-self: center;
    }
  
    .header__subtitle {
      margin: 0;

      .header__link {
        color: white;
        text-decoration: none;
      }
  
      .header__link:visited {
        color: white;
      }
  
      .header__link:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

.clock {
  text-align: center;
  margin: 0 auto;

  .clock__message {
    font-size: 20px;
    margin: 0;
    text-align: center;
  }

  .clock__time {
    
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 0;

      .clock__time--numbers {
        font-size: 40px;
        font-family: 'Roboto Mono', sans-serif;
        color: #f31431;
      }

      .clock__time--labels {
        display: block;
        font-size: 20px;
      }
    }
  }
}

.cal {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  
  .cal__btns {
    display: flex;
    justify-content: space-around;
    max-width: 350px;
    margin: 1em auto;
    

    .cal__btn {
      width: 75px;
      border-radius: 5px;
      border: none;
      background-color: #021128;
      color: white;
      outline: none;
      cursor: pointer;
    }

    .cal__title {
      margin: 0;
      align-self: center;
      font-weight: bold;
      width: 175px;
      font-size: 22px;
    }
  }

  .cal__days {
    display: none;
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 10px;
  }

  .cal__day {

  }

  .cal__grid {
    display: none;
    grid-template-columns: repeat(7, 1fr);

    .cal__block {
      border: 1px solid #222;
      margin-left: -1px;
      margin-bottom: -1px;
      min-height: 60px;
      padding: 5px;

      .cal__date {
        text-align: right;
      }

      .cal__item {
        text-align: left;
        font-size: 12px;

      }

      .holiday {
        color: blue;
      }

      .legislative {
        color: green;
      }

      .other {
        color: red;
      }
    }
  }
}

.cal__mobile {

  .cal__item--mobile {
    
  }
}

@media (min-width: 430px) {
  .clock {
    .clock__time {
      font-size: 60px;
    }
  }
}

@media (min-width: 650px) {
  .cal {
    .cal__days {
      display: grid;
    }

    .cal__grid {
      display: grid;
    }
  }

  .cal__mobile {
    display: none;
  }
}